<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Hadir Apps Testing Kelompok3">

    <test name="HADIR APPS">
        <classes>
            <class name="com.TugasAkhirKelompok3.runners.RunnerTest"></class>
        </classes>
    </test>
</suite>